div{
  text-align: center;
  background-color:navy;
  margin: 25px;
  text-decoration-style: dashed;
}

h1{
  color: blueviolet;
}
h3{
  text-align: center;
  color: black;
}

img{
  margin: 10px;

}
.post-button{
  color: red;
}
/* .button{
  color: green;
  margin-bottom: 50px;
  margin-top: 25px;
} */


